html ,body {
	margin: 0;
	font-family: arieal;
    height: 100vh;
    /*background-image: url("background.png");*/
    background-repeat: no-repeat;
    background-size: auto;
}
.bresume {background-image: url("background.png");
}
.bcollab {background-color: #bbbbb9;
}
.bacademic {background-image: url("background.png");
}
.bportfolio {background-image: url("background.png");
}
.byoutube {background-color: #c4f101;
}
.navigation-bar {margin: 15px;
}
.list1, li, a {text-decoration: none;
    color: #000000; 
    list-style-type: none;
    display: inline;
    margin: 12px;
    font-size: x-large;
} 
h1 {margin-left: 60px;
    margin-top: 50px;
}
h2 {margin-left: 400px;
    margin-top: -85px;
}
h3 {margin-left: 500px;
    margin-top: -48px;
}
p {margin-left: 500px;
    margin-top: 25px;
}
.company {margin-top: -18px;      
}
.year2021 {margin-left: 400px;
    margin-top: 100px;
}
.videographer {margin-top: -43px;
}
.gfwc {margin-top: -18px;
}
.right {background-color: #c4f101;
    height: 65%;
    width: 69%;
    float: right;
}
.left {background-color: #edf0f2;
    height: 65%;
    width: 31%;
    float: left;
}
.skillsh1 {margin-left: px;
    margin-top: 200px;
}
.list2 {margin: 100px;
    margin-left: 70px;
}
.one {display: list-item;
    list-style-type: disc;
}
.pvlogo {width: 91px;
    height: 81px;
    margin-left: 15px;
    margin-top: 20px;
}
.companypv {margin-left: 115px;
    margin-top: -75px;
}
.fits {margin-top: -10px;
    margin-left: 60px;
    font-size: 70px;
    font-weight: bolder;
}
.tshiks {margin-top: -50px;
    margin-left: 60px;
    font-size: 40px;
    font-weight: lighter;
}
#stream {background-color: #39b6ff;
    height: 50px;
    width: 250px;
    margin-left: 45px;
    margin-top: -15px;
    border-radius: 25px;
    border: 0;
    font-weight: bold;
}
.culture {float: right;
    height: 768px;
    width: 700px;
    border-radius: 300px;
    margin-top: -600px;   
}
.pvcollab {float: right;
    height: 700px;
    margin-top: -160px;
}
.ch1 {font-size: 50px;
}
#message {background-color: #39b6ff;
    height: 50px;
    width: 180px;
    margin-left: 95px;
    margin-top: 70px;
    border-radius: 25px;
    border: 0;
    font-weight: bold;
}
