html ,body {
	margin: 0;
	font-family: arieal;
    height: 100vh;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: auto;
}
a {text-decoration: none;
    color: #000000;
} 
.navigation ul {list-style-type:none;

}
li {display: ;
    margin: 25px;
    font-size: x-large;
}
h1 {margin-left: 100px;
    margin-top: 70px;
}
h2 {margin-left: 400px;
    margin-top: -85px;
}
h3 {margin-left: 500px;
    margin-top: -48px;
}
p {margin-left: 500px;
    margin-top: 25px;
}
.company {margin-top: -18px;
}
.year2021 {margin-left: 400px;
    margin-top: 100px;
}
.videographer {margin-top: -43px;
}
.gfwc {margin-top: -18px;
}
.right {background-color: #c4f101;
    height: 100%;
    width: 69%;
    float: right;
}
.left {background-color: #edf0f2;
    height: 100%;
    width: 31%;
    float: left;
}
.skillsh1 {margin-left: px;
    margin-top: 200px;
}
.right, li {

}








