html ,body {
	margin: 0;
	font-family: arieal;
    height: 100vh;
}
.pvlogo {width: 91px;
    height: 81px;
    margin-left: 190%;
    margin-top: 100%;
}

.home { background-color: #c4f101;
}

.left {
    display: flex;
    margin-left: 12%;
}
img {
    width: 420px;
    height: 555px;
    margin-top: -1%;
    margin-left: 12%;
}
.insta {width: 30px;
    height: 30px;
    display: flex;
    margin-left: -28%;

}
.twitter {width: 30px;
    height: 30px; 
    margin: 1%;
  
 
}
.linkedin {width: 45px;
    height: 45px;
    margin-top: -18.3%;
 
    
}
.aboutme {
    margin-top: -55%;
    margin-left: 62%;   
}
.line {height: 1px;
    background-color: #000000; 
    margin-top:;
}
.secondline {height: 1px;
    background-color: #000000;
    margin-top: 75%;
}
.navigation-bar {float: right;
	 margin-top: 10%;
    margin-left: 55%;

}
.navigation-bar, ul, li, a:hover{
    color: #ff3231;
}

ul {list-style-type: none;
    margin-top: -103%;
    margin-left: -55%;
    
}
a {text-decoration: none;
    color: #000000;
}
li {font-size: x-large;
}

.rightkey {margin-right: 20%;
  
}
.socialhome {
    display: flex;
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}




/* Phones */
/* Portrait and Landscape */
@media screen and (max-width: 600px) {
   .wrapper-main {width:100%;
    }
    .rotman {display: none;
    }
    .left {margin-left: 2%;
    }
    .aboutme {margin-top: 2%;
       margin-left: 2%;
    }
    .navigation-bar {margin-top: -50%;
        margin-right: 25%;
    }
    .socialhome {margin-top: 6%;
        margin-right: 30%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 110%;
    }
} */


/* tablets */

@media screen and (max-width: 767px) {
    .wrapper-main {
        width: 100%;
    }
    .aboutme {margin-top: 2%;
       margin-right: 42%;
    }
    .navigation-bar {margin-top: -40%;
        margin-right: 59%;
    }
    .socialhome {margin-top: 78%;
        margin-right: 40%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 80%;
    }
}

/* Styles for medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper-main {
        width: 100%;
    }
    .aboutme {margin-top: 2%;
       margin-right: 42%;
    }
    .navigation-bar {margin-top: -40%;
        margin-right: 59%;
    }
    .socialhome {margin-top: 78%;
        margin-right: 40%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 80%;
    } 
  }

  @media screen and (min-width: 1024px) {
    .wrapper-main {width:100%;
     }
     .rotman {margin-left: 1%;
     }
     .left {margin-left: 1%;
     }
     .aboutme {margin-top: -82%;  
     }
     .navigation-bar {margin-top: 1%;
        margin-right: -10%;
        
     }
     .socialhome {margin-top: 1%;
       
 
     }
     .insta {width: 30px;
         height: 30px;
         margin-right: 55%;
     
     }
     .twitter {width: 30px;
         height: 30px;
         margin-right: 30%;
         
     }
     .linkedin {width: 40px;
         height: 40px;
         margin-right: 42%;
     }
     .secondline {margin-top: 90%;
     }
 } 


  @media screen and (min-width: 1280px) {
    .wrapper-main {width:100%;
     }
     .rotman {margin-left: 8%;
     }
     .left {margin-left: 8%;
     }
     .aboutme {margin-top: -65%;
        
        
     }
     .navigation-bar {margin-top: -2%;
        margin-right: -1%;
        
     }
     .socialhome {margin-top: 6%;
         margin-right: 15%;
 
     }
     .insta {width: 30px;
         height: 30px;
         margin-right: 55%;
     
     }
     .twitter {width: 30px;
         height: 30px;
         margin-right: 30%;
         
     }
     .linkedin {width: 40px;
         height: 40px;
         margin-right: 42%;
     }
     .secondline {margin-top: 85%;
     }
 } 



