html ,body {
	margin: 0;
	font-family: arieal;
    height: 100vh;
}
.pvlogo {width: 91px;
    height: 81px;
    margin-left: 190%;
    margin-top: 100%;
}

.home { background-color: #c4f101;
}

.left {
    display: flex;
    margin-left: 12%;
}
img {
    width: 420px;
    height: 555px;
    margin-top: -1%;
    margin-left: 12%;
}
.insta {width: 30px;
    height: 30px;
    display: flex;
    margin-left: -28%;

}
.twitter {width: 30px;
    height: 30px; 
    margin: 1%;
  
 
}
.linkedin {width: 45px;
    height: 45px;
    margin-top: -18.3%;
 
    
}
.aboutme {
    margin-top: -55%;
    margin-left: 62%;   
}
.line {height: 1px;
    background-color: #000000; 
    margin-top:;
}
.secondline {height: 1px;
    background-color: #000000;
    margin-top: 75%;
}
.navigation-bar {float: right;
    margin-left: 55%;

}
.navigation-bar, ul, li, a:hover{
    color: #ff3231;
}

ul {list-style-type: none;
    margin-top: -103%;
    margin-left: -55%;
    
}
a {text-decoration: none;
    color: #000000;
}
li {font-size: x-large;
}

.rightkey {margin-right: 20%;
  
}
.socialhome {
    display: flex;
    float: right;
    margin-right: 20%;
    margin-top: 1%;
}



