html ,body {
	margin: 0;
	font-family: arieal;
    height: 100vh;
}
.pvlogo {width: 91px;
    height: 81px;
    margin-left: 190%;
    margin-top: 100%;
}

.home { background-color: #c4f101;
}
.wrapper-main {margin-left: 50%;
}

.left {
    display: flex;
    flex-flow: row;
    margin-left: 10%;
}
img {
    width: 420px;
    height: 555px;
    margin-top: -1%;
    margin-left: 10%;
}
.goldenkey {width: 400px;
    height: 200px;
    margin-top: -10%;

}
.insta {width: 30px;
    height: 30px;
}
.twitter {width: 30px;
    height: 30px; 
    margin-left: 1%;  
}
.linkedin {width: 50px;
    height: 50px;
    margin-left: 1%; 
}
.aboutme {float: right;
    margin-top: -11%;
    margin-right: 23%;   
}
.line {height: 1px;
    background-color: #000000; 
    margin-top: 10%;
}
.secondline {height: 1px;
    background-color: #000000;
    margin-top: 90%;
}
.navigation-bar {float: left;
    margin-left: 58%;

}
.navigation-bar, ul, li, a:hover{
    color: #ff3231;

}

ul {list-style-type: none;
    margin-top: 68.5%;
}
a {text-decoration: none;
    color: #000000;
}
li {font-size: x-large;
}

.rightkey {margin-right: 15%;
}
.socialhome {margin-left: 65%;  
}



/* Phones */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .wrapper-main {
        width: 100%;
    }
    .aboutme {margin-top: 2%;
       margin-left: 10%;
    }
    .navigation-bar {margin-top: -75%;
        margin-right: 32%;
    }
    .socialhome {margin-top: 160%;
        margin-right: 25%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 110%;
    }
} */

/* Styles for small screens (phones) */
@media only screen and (max-width: 767px) {
    .wrapper-main {
        width: 100%;
    }
    .aboutme {margin-top: 2%;
       margin-right: 42%;
    }
    .navigation-bar {margin-top: -40%;
        margin-right: 59%;
    }
    .socialhome {margin-top: 78%;
        margin-right: 40%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 80%;
    }
}

/* Styles for medium screens (tablets) */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .wrapper-main {
        width: 100%;
    }
    .aboutme {margin-top: 2%;
       margin-right: 42%;
    }
    .navigation-bar {margin-top: -40%;
        margin-right: 59%;
    }
    .socialhome {margin-top: 78%;
        margin-right: 40%;

    }
    .insta {width: 30px;
        height: 30px;
        margin-right: 55%;
    
    }
    .twitter {width: 30px;
        height: 30px;
        margin-right: 30%;
        
    }
    .linkedin {width: 40px;
        height: 40px;
        margin-right: 42%;
    }
    .secondline {margin-top: 80%;
    } 
  }

  /* Styles for large screens (desktops and laptops) */
@media only screen and (min-width: 1024px) {
    .wrapper-main {
        margin-left: -5%;
        width: 100%;
    }
    .aboutme {margin-top:%;
       margin-right: 5%;
    }
    .navigation-bar {margin-top: -45%;
        margin-right: 17%;
    }
    .socialhome {margin-top: -45%;
        margin-right: -22%;

    }
    .insta {width: 30px;
        height: 30px;
        
    
    }
    .twitter {width: 30px;
        height: 30px;
        
        
    }
    .linkedin {width: 40px;
        height: 40px;
        
    }
    .secondline {margin-top: 80%;
    } 
  }
  

